include LICENSE.txt
include CHANGES.rst
recursive-include docs *.docx

recursive-include wltp/test/samples_db heinz*.csv
recursive-include wltp/test/samples_db sample_vehicles.csv


recursive-include wltp/test/wltp_db heinz*.csv
recursive-include wltp/test/wltp_db wltp_db_vehicles.csv
recursive-include wltp/test/wltp_db wot_samples.csv
