# Push these as binder/requirements.txt`,
# and get the latest transitive ones from the running binder,
# by issung in its terminal:
#     pip freeze
#
black
blackcellmagic
columnize
h5py
ipympl
jsonschema
#jupyterlab        # don't override version in repo2docker
jupyterlab >=1.1
jupytext
matplotlib
octave
oct2py
pandalone >= 0.3
papermill
pip
## The javascript of default `qgrid` is not lab->0.35 compatible,
#  so `postBuild` applies https://github.com/quantopian/qgrid/issues/261
qgrid
ruamel.yaml
scipy
seaborn
sphinx
tables              # called `pytables` in conda
toolz
xlrd
xonsh               # (optional) a python-like shell
