# Push these as binder/requirements.txt`,
# and get the latest transitive ones from the running binder,
# by issung in a terminal:
#   pip freeze
#
black
blackcellmagic
columnize
h5py
ipympl
jsonschema==2.6.0
jupyterlab
jupytext
matplotlib
pandalone
pip
qgrid
ruamel.yaml
scipy
seaborn
sphinx
tables
wltp
xlrd
xonsh
