# Push these as binder/requirements.txt`,
# and get the latest transitive ones from the running binder,
# by issung in its terminal:
#     pip freeze
#
black
blackcellmagic
columnize
h5py
ipympl
jsonschema
#jupyterlab        # don't override version in repo2docker
jupytext
matplotlib
pandalone >= 0.3
pip
qgrid
ruamel.yaml
scipy
seaborn
sphinx
tables              # called `pytables` in conda
wltp
xlrd
xonsh               # (optional) a python-like shell
