alabaster==0.7.12
alembic==1.0.9
appdirs==1.4.3
asteval==0.9.14
async-generator==1.10
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
black==19.3b0
blackcellmagic==0.0.2
bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
columnize==0.3.9
cycler==0.10.0
decorator==4.4.0
defusedxml==0.5.0
docutils==0.14
entrypoints==0.3
future==0.17.1
h5py==2.9.0
idna==2.8
imagesize==1.1.0
ipykernel==5.1.0
ipympl==0.2.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterhub>=0.9.6
jupyterlab==0.35.6
jupyterlab-server==0.2.0
jupytext==1.1.6
kiwisolver==1.1.0
Mako==1.0.9
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
mock==3.0.5
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.8
nteract-on-jupyter==2.0.12
numexpr==2.6.9
numpy==1.16.4
packaging==19.0
pamela==1.0.0
pandalone==0.2.6
pandas==0.24.2
pandocfilters==1.4.2
pexpect==4.7.0
pickleshare==0.7.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.4.0
pyrsistent==0.15.1
python-dateutil==2.8.0
python-editor==1.0.4
python-oauth2==1.1.0
pytz==2019.1
PyYAML==5.1.1
pyzmq==18.0.1
qgrid==1.1.1
requests==2.21.0
ruamel.yaml==0.9.7
